#waiver,
#waiver:hover {
    text-decoration: underline;
    color: #8dc63f;
    padding: 0;
    font-weight: 600;
    border-radius: 0;
    background: none;
}
#waiver:hover {
    color: #00aeef;
}

.collab-logo {
    max-height: 200px;
    min-height: 200px;
    max-width: 200px;
    min-width: 200px;
    object-fit: scale-down;
}

.collaborations {
    overflow: hidden;
}

.collaborations .nav-tabs {
    border: 0;
}

.collaborations .nav-link {
    border: 0;
    padding: 12px 15px;
    transition: 0.3s;
    color: #000;
    border-radius: 0;
    border-right: 2px solid #002350;
    font-weight: 600;
    font-size: 10px;
}

.collaborations .nav-link:hover {
    color: #294936;
}

.collaborations .nav-link.active {
    color: #fff;
    background: #002350;
    border-color: #002350;
}

.collaborations .nav-link:hover {
    border-color: #294936;
}

.collaborations .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}

.collaborations .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #000;
}

.collaborations .details p {
    color: #aaaaaa;
}

.collaborations .details p:last-child {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .collaborations .nav-link {
        padding: 15px;
    }
    .row {
        margin: 0%;
    }
}

@media (min-width: 992px) {
    .row {
        flex-wrap: nowrap;
    }
}

@media (min-width: 992px) {
    .link-mobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.schedule {
    text-align: center;
}

.btn-register {
    text-align: left;
    color: #002350;
    background: rgb(238, 238, 238);
}

/* .btn-register i {
    color: rgb(238, 238, 238);
}

.btn-register i {
    color: #002350;
} */

.btn-register:hover {
    text-align: left;
    background: #002350;
    color: #eeeeee;
}

.accordion-item {
    border-bottom: 1px solid rgb(204, 203, 203);
}

.btn-faq {
    outline: none;
    text-align: left;
}

.accordion-header-icon {
    float: right;
    position: relative;
    top: 3px;
    transition: 0.3s;
}

.instruction,
.instruction h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 0px 3px;
}

#team-creation {
    /* display: none; */
    text-align: center;
    vertical-align: center;
    width: 100%;
}

.single-input {
    text-align: center;
    vertical-align: center;
    width: 100%;
}

.single-input .form-control {
    margin: auto;
    width: 40vh;
    margin-bottom: 10px;
}

#check-email {
    text-align: center;
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control {
    background: #e0e0e0;
}
